<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.myapp.bbs.BbsDao">
  <!-- <select id="selectStudentList" resultType="com.exam.student.StudentVo"> -->
 
	<resultMap type="BbsVo" id="BbsMap">
	  	<id property="bbsNo" column="bbs_no" />
		<result property="bbsTitle" column="bbs_title" />
		<result property="bbsContent" column="bbs_content" />
		<result property="bbsWriter" column="bbs_writer" />
		<result property="bbsRegDate" column="bbs_reg_date" />
		<result property="bbsCount" column="bbs_count" />
		<!-- <collection property="attachList" ofType="AttachVo">
			<id property="attNo" column="att_no" />
			<result property="attOrgName" column="att_org_name" />
			<result property="attNewName" column="att_new_name" />
			<result property="attBbsNo" column="att_bbs_no" />
		</collection> -->
		<!-- <collection property="" ofType="StudentVo">
			<result property="stuNo" column="stu_no" />
		</collection> -->
		
		<collection property="attachList" ofType="AttachVo" column="bbs_no" select="com.exam.myapp.bbs.AttachDao.selectAttachList"/>
		<!-- <collection property="studentList" ofType="StudentVo" select="com.exam.myapp.student.StudentDaoselectStudentList" /> -->	
	</resultMap>
	
	<sql id="searchCondition">
		<where>
			<if test="searchType == 'title' or searchType == 'total' and searchWord!=null and searchWord!=''">
			bbs_title LIKE '%' || #{searchWord} || '%'
			</if>
			<if test="searchType == 'content' or searchType == 'total' and searchWord!=null and searchWord!=''">
			OR bbs_content LIKE '%' || #{searchWord} || '%'
			</if>
		</where>
	</sql>
	
	
	
	<select id="selectBbsCount" resultType="int">
	SELECT COUNT(*)
	FROM stubbs
	<include refid="searchCondition"></include>
	<!-- WHERE -->
	<!-- <where>
		<if test="searchType == 'title' or searchType == 'total' and searchWord!=null and searchWord!=''">
		bbs_title LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 'content' or searchType == 'total' and searchWord!=null and searchWord!=''">
		OR bbs_content LIKE '%' || #{searchWord} || '%'
		</if>
	</where> -->
	</select>	
	
  <!-- <select id="selectStudentList" resultType="com.exam.student.StudentVo"> -->
  <select id="selectBbsList" resultType="BbsVo">
  <!-- <select id="selectStudentList" resultMap="StudentMap"> -->
    <!-- SELECT stu_no as stuNo, stu_name as stuName, stu_score as stuScore FROM student -->
  	<!-- SELECT bbs_no, bbs_title, bbs_writer, bbs_reg_date
	FROM stubbs -->
	SELECT rnum, bbs_no, bbs_title, bbs_writer, bbs_reg_date, bbs_count
	FROM (
  		SELECT ROWNUM rnum, bbs_no, bbs_title, bbs_writer, bbs_reg_date, bbs_count
		 FROM (
		    SELECT bbs_no, bbs_title, bbs_writer, bbs_reg_date, bbs_count
		   	FROM stubbs
		   	<include refid="searchCondition"></include>
		    ORDER BY bbs_reg_date DESC, bbs_no DESC
		  	)
		 WHERE ROWNUM <![CDATA[<=]]> #{lastRecordIndex}
	)
	WHERE #{firstRecordIndex} <![CDATA[<]]> rnum
	<!-- WHERE -->
	<!-- <where>
		<if test="searchType == 'title' or searchType == 'total' and searchWord!=null and searchWord!=''">
		bbs_title LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 'content' or searchType == 'total' and searchWord!=null and searchWord!=''">
		OR bbs_content LIKE '%' || #{searchWord} || '%'
		</if>
	</where> -->
	
	<!-- <trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="searchType == 'title' or searchType == 'total' and searchWord!=null and searchWord!=''">
		bbs_title LIKE '%' || #{searchWord} || '%'
		</if>
		<if test="searchType == 'content' or searchType == 'total' and searchWord!=null and searchWord!=''">
		OR bbs_content LIKE '%' || #{searchWord} || '%'
		</if>
	</trim> -->
<!-- 	<if test="searchType == 'total'">
	bbs_title LIKE '%' || #{searchWord} || '%'
	OR bbs_content LIKE '%' || #{searchWord} || '%'
	</if> -->
	<!-- ORDER BY bbs_reg_date DESC -->
  </select>
  
  <!-- <insert id="addStudent" parameterType="com.exam.student.StudentVo"> -->
  <insert id="addBbs">
  	<selectKey keyProperty="bbsNo" resultType="int" order="BEFORE">
		SELECT stubbs_seq.NEXTVAL FROM DUAL <!-- insert할 때, 시퀀스 값을 구하는게 아니라 그 전에 select를 통해서 시퀀스 값을 구함 -->
	</selectKey>
  	INSERT INTO stubbs (bbs_no, bbs_title, bbs_content, bbs_writer) 
  	VALUES ( #{bbsNo}, #{bbsTitle}, #{bbsContent}, #{bbsWriter} )
  </insert>
  
 <!--  <delete id="delStudent" parameterType="com.exam.student.StudentVo"> -->
	<delete id="delBbs">
	DELETE FROM stubbs WHERE bbs_no = #{bbsNo}
	<!-- DELETE FROM stubbs WHERE bbs_no = #{bbsNo} and bbs_writer = #{bbsWriter} -->
	<!-- DELETE FROM stubbs JOIN student ON bbs_writer = stu_no WHERE bbs_no = #{bbsNo} and bbs_writer = #{stuNo} -->
	</delete>
  
  <select id="selectBbs" resultMap="BbsMap">
  <!-- <select id="selectStudentList" resultMap="StudentMap"> -->
    <!-- SELECT stu_no as stuNo, stu_name as stuName, stu_score as stuScore FROM student -->
  	SELECT bbs_no, bbs_title, bbs_content, bbs_writer, bbs_reg_date, bbs_count 
		FROM stubbs 
		WHERE bbs_no = #{bbsNo}
  	<!-- 
  	SELECT bbs_no, bbs_title, bbs_content, bbs_writer, bbs_reg_date, bbs_count, att_no, att_org_name, att_new_name, att_bbs_no
	FROM 
	(
	SELECT bbs_no, bbs_title, bbs_content, bbs_writer, bbs_reg_date, bbs_count
	FROM stubbs
	WHERE bbs_no = #{bbsNo}
	) stubbs 
	LEFT OUTER JOIN stuattach ON stubbs.BBS_NO = stuattach.ATT_BBS_NO -->
	<!-- WHERE bbs_no = #{bbsNo} -->
  </select>
  
  <update id="updateBbs">
  	UPDATE stubbs
  	SET bbs_title = #{bbsTitle}, bbs_content = #{bbsContent}
  	WHERE bbs_no = #{bbsNo} and bbs_writer = #{bbsWriter}
  </update>
  
  <select id="selectLogin" resultType="StudentVo">
  	SELECT stu_no, stu_name, stu_score FROM student 
  	WHERE stu_no = #{stuNo} AND stu_name = #{stuName}
  </select>
  
  
  
</mapper>