<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.exam.myapp.student.StudentVo" alias="StudentVo" />
		<typeAlias type="com.exam.myapp.bbs.BbsVo" alias="BbsVo" />
		<typeAlias type="com.exam.myapp.bbs.AttachVo" alias="AttachVo" />
		<typeAlias type="com.exam.myapp.reply.ReplyVo" alias="ReplyVo" />
		<package name="com.exam.myapp.student"/>
	</typeAliases>
	
 <!--  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="web"/>
        <property name="password" value="web01"/>
      </dataSource>
    </environment>
  </environments> -->
  
  <!-- <mappers>
    <mapper resource="batis/mappers/StudentMapper.xml"/>
  </mappers> -->
</configuration>